@import '../variables/colors.scss';
@import '../variables/fonts.scss';
@import '../variables/units.scss';
@import './break-points.scss';

@mixin form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $unit * 10 $unit * 4;

  @include mq-from('mobile') {
    padding: $unit * 16 $unit * 8;
  }
}

@mixin custom-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $unit * 120;
}

@mixin custom-input-field {
  display: block;
  border: 1px solid $grey;
  border-radius: $unit;
  background-color: $white;
  font-size: $font-m;
  width: 100%;
  padding: $unit $unit * 2;

  &:focus {
    outline: none;
    border-color: $deep-green;
  }

  &::placeholder {
    color: $grey;
  }
}
