@import '../../../../scss/base.scss';

.user-details {
  &__wrapper {
    @include component-wrapper;
    @include form-wrapper;
  }

  &__header {
    margin-bottom: $unit * 8;
  }

  &__form {
    @include custom-form;

    &__input-container {
      margin-bottom: $unit * 6;

      label {
        span {
          color: $dark-red;
        }
      }

      input {
        @include custom-input-field;
        margin: $unit 0;
      }
    }

    &__input-error {
      color: $dark-red;
    }

    &__input-hint {
      color: $grey2;
      font-size: $font-s;
      margin-bottom: $unit;
    }

    &__submit-button {
      @include custom-button;
      background-color: $deep-green;
      border-radius: $unit;
      color: $text-light;
      margin-left: auto;
    }
  }
}
